<footer class="container-fluid">
	<div class="container">
		<div class="row-top contacts s1">
			<div class="col-sm-4 center-text">
				<p class="b">VERTICAL EYE<br>Drone solutions
				<br>via Mazzini, 156<br>41049 Sassuolo (MO)</p>
			</div>
			<div class="col-sm-4 phone" id="phone">
				<p class="b center-text">TELEFONO</p>				
				<ul class="ul-lefted">
					<li><a href="tel:+39 3400549443" class="row"><i class="material-icons">smartphone</i>+39 3400549443 - Andrea</a></li>
					<li><a href="tel:+39 3466388256" class="row"><i class="material-icons">smartphone</i>+39 3466388256 - Filippo</a></li>
				</ul>
			</div>
			<div class="col-sm-4 center-text mail" id="mail">
				<p class="b">MAIL</p>
				<ul class="ul-lefted">
					<li><a href="mailto:verticaleye18@gmail.com" class="row"><i class="material-icons">mail</i>verticaleye18@gmail.com</a></li>
				</ul>
			</div>
		</div>
		<br>
		<div class="row social" id="">
			<div class="col-4 center-text">
			</div>
			<div class="col-4 center-text row">
				<div class="social-container facebook" id="">
					<%= link_to image_tag("facebook.png", alt: "facebook"), 'https://www.facebook.com/verticaleye18/' %>
	      </div>
	      <div class="social-container instagram" id="">
					<%= link_to image_tag("insta.png", alt: "instagram"), 'https://www.instagram.com/vertical_eye/?hl=it' %>
	      </div>
			</div>
			<div class="col-4 center-text">
			</div>
		</div>
		<div class="row s0" id="lower">
			<div class="col">
				<p>Vertical Eye - Drone Solutions ©2020</p>
			</div>
			<div class="col">
				<%= link_to "Privacy policy", privacy_path %>
			</div>
		</div>		
	</div>
</footer>